n8n/job-to-gcal.workflow.json
{
  "name": "Job → Google Calendar (App → Google sync)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-sync",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-40, 320],
      "webhookId": "job-sync-webhook"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  { "id": "r-insert", "leftValue": "={{ $json.body.type }}", "rightValue": "INSERT", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INSERT"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  { "id": "r-update", "leftValue": "={{ $json.body.type }}", "rightValue": "UPDATE", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UPDATE"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  { "id": "r-delete", "leftValue": "={{ $json.body.type }}", "rightValue": "DELETE", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DELETE"
            }
          ]
        },
        "options": {}
      },
      "id": "node-switch",
      "name": "Route by type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [200, 320]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clients",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.body.record.client_id }}" }
          ]
        }
      },
      "id": "node-getclient-ins",
      "name": "Get client (insert)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 120]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": { "__rl": true, "value": "c_13852afaa11bb06d2b91ea4f3d73374f4205e02ed2a8d80e41ec71dec209dde0@group.calendar.google.com", "mode": "id" },
        "start": "={{ $('Webhook').item.json.body.record.date }}T{{ $('Webhook').item.json.body.record.time }}:00",
        "end": "={{ DateTime.fromFormat($('Webhook').item.json.body.record.date + ' ' + $('Webhook').item.json.body.record.time, 'yyyy-MM-dd HH:mm').plus({ minutes: Number($('Webhook').item.json.body.record.duration) || 60 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "additionalFields": {
          "summary": "={{ $json.name }} — {{ $('Webhook').item.json.body.record.title }}",
          "location": "={{ $json.address }}",
          "timezone": { "__rl": true, "value": "America/New_York", "mode": "id" }
        }
      },
      "id": "node-create",
      "name": "Create event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [680, 120]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Webhook').item.json.body.record.id }}" }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "gcal_event_id", "fieldValue": "={{ $json.id }}" }
          ]
        }
      },
      "id": "node-writeback",
      "name": "Save event id",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [920, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "g-notempty", "leftValue": "={{ $json.body.record.gcal_event_id }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } },
            { "id": "g-equal", "leftValue": "={{ $json.body.record.gcal_event_id }}", "rightValue": "={{ $json.body.old_record.gcal_event_id }}", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-loopguard",
      "name": "Loop guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 340]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clients",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.body.record.client_id }}" }
          ]
        }
      },
      "id": "node-getclient-upd",
      "name": "Get client (update)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 340]
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": { "__rl": true, "value": "c_13852afaa11bb06d2b91ea4f3d73374f4205e02ed2a8d80e41ec71dec209dde0@group.calendar.google.com", "mode": "id" },
        "eventId": "={{ $('Webhook').item.json.body.record.gcal_event_id }}",
        "updateFields": {
          "start": "={{ $('Webhook').item.json.body.record.date }}T{{ $('Webhook').item.json.body.record.time }}:00",
          "end": "={{ DateTime.fromFormat($('Webhook').item.json.body.record.date + ' ' + $('Webhook').item.json.body.record.time, 'yyyy-MM-dd HH:mm').plus({ minutes: Number($('Webhook').item.json.body.record.duration) || 60 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
          "summary": "={{ $json.name }} — {{ $('Webhook').item.json.body.record.title }}",
          "location": "={{ $json.address }}"
        }
      },
      "id": "node-update",
      "name": "Update event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [920, 340]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": { "__rl": true, "value": "c_13852afaa11bb06d2b91ea4f3d73374f4205e02ed2a8d80e41ec71dec209dde0@group.calendar.google.com", "mode": "id" },
        "eventId": "={{ $json.body.old_record.gcal_event_id }}",
        "options": {}
      },
      "id": "node-delete",
      "name": "Delete event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [440, 560]
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Route by type", "type": "main", "index": 0 } ] ] },
    "Route by type": {
      "main": [
        [ { "node": "Get client (insert)", "type": "main", "index": 0 } ],
        [ { "node": "Loop guard", "type": "main", "index": 0 } ],
        [ { "node": "Delete event", "type": "main", "index": 0 } ]
      ]
    },
    "Get client (insert)": { "main": [ [ { "node": "Create event", "type": "main", "index": 0 } ] ] },
    "Create event": { "main": [ [ { "node": "Save event id", "type": "main", "index": 0 } ] ] },
    "Loop guard": {
      "main": [
        [ { "node": "Get client (update)", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Get client (update)": { "main": [ [ { "node": "Update event", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
